*.pyc
*~
__pycache__
/migrations
/plataformase/Archivos/
/plataformase/__pycache__/
/plataformase/login/migrations/
/plataformase/login/__pycache__/
/plataformase/usuarios/migrations
/plataformase/RVOES/__pycache__
/plataformase/TBC/migrations
/plataformase/TBC/__pycache__
/plataformase/SigApp/__pycache__/
/plataformase/SETyRS/__pycache__/
/plataformase/SETyRS/migrations/
.DS_Store
/plataformase/visitante/__pycache__/
/plataformase/visitante/migrations/
/plataformase/blockchain/migrations/
/plataformase/blockchain/__pycache__/
/plataformase/blockchain/node_modules/
/plataformase/blockchain/src/abis/
/plataformase/blockchain/package-lock.json
/plataformase/blockchain/static/frontend/main.js
/venv/
/.vscode/
